# pre-commit is a tool to perform a predefined set of tasks manually and/or
# automatically before git commits are made.
#
# Config reference: https://pre-commit.com/#pre-commit-configyaml---top-level
#
# Common tasks
#
# - Run on all files:   pre-commit run --all-files
# - Register git hooks: pre-commit install --install-hooks
#

ci:
  # pre-commit.ci will open PRs updating our hooks once a month
  autoupdate_schedule: monthly

repos:
  # https://github.com/pre-commit/mirrors-prettier is not maintained
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.5.3
    hooks:
      - id: prettier

  # autoformat and lint Python code
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: ["--select=I", "--fix", "--show-fixes"]
      - id: ruff-format

  # Static security analysis of GitHub actions https://github.com/woodruffw/zizmor
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.5.1
    hooks:
      - id: zizmor
